// COLORS
$wht: #ffffff;
$lgt_gry: #f5f5f5;
$med_lgt_gry: #dcdcdc;
$med_gry: #a0a0a0;
$drk_gry: #202020;
$profit_green: #4c9900;
$loss_red: #cc0000;
$blue: #0066cc;
$warning-yellow: #ffcc00;


// SIZES
$cont_wide: 900px;
$slug: 30px;
$slug_05: 15px;
$slug_2: 60px;
$slug_3: 90px;
$slug_4: 120px;

// TYPOGRAPHY
$main_font: "Arial", sans-serif;
$main_font_size: 15px;
$main_font_line_height: 30px;
$main_font_dbl_line_height: 60px;
$header_font: "Arial Black", sans-serif;
$small_font_size: 13px;


html {
    height: 100%;
}

body {
    background-color: $lgt_gry;
    color: $drk_gry;
    font-family: $main_font;
    font-size: $main_font_size;
    font-weight: normal;
    height: 100%;
    line-height: $main_font_line_height;

    .container {
        background-color: $wht;
        border-left: 1px dashed $med_gry;
        border-right: 1px dashed $med_gry;
        height: auto;
        margin: 0 auto;
        padding: 0 $slug;
        width: $cont_wide;

        a {
            color: $drk_gry;
            text-decoration: none;
            transition: opacity 0.5s;

            &:hover {
                opacity: 0.5;
            }
        }

        h1, h2, h3, h4 {
            margin: 0;
        }

        h1, h2, h3, h4,
        th,
        label,
        .investment {
            font-family: $header_font;
        }

        .has-loss {
            color: $loss_red;
        }

        .has-gain {
            color: $profit_green;
        }

        button,
        select,
        input[type="submit"] {
            background-color: $blue;
            border: 0;
            color: $wht;
            cursor: pointer;
            font-size: $small_font_size;
            font-weight: bold;
            height: $slug;
            width: $slug_4;

            &.danger {
                background-color: $loss_red;
            }

            &.warning {
                background-color: $warning-yellow;
            }

            &.success {
                background-color: $profit_green;
            }
        }

        button,
        select {
            padding: 0 5px;
        }

        header {
            text-align: center;

            .title-wrapper {
                height: $slug_2;
                line-height: $slug_2;
            }

            .nav-wrapper {
                border-bottom: 1px solid $med_gry;
                nav {
                    ul {
                        list-style-type: none;

                        li {
                            display: inline-block;
                            font-weight: bold;
                            padding: 0 $slug_05;

                            a {
                                // border: 1px dashed $med_gry;
                                padding: 4px 6px 5px 4px;
                                // transition: background-color 0.5s;
                                color: $blue;

                                // &:hover {
                                //     background-color: $med_gry;
                                //     color: $wht;
                                    // border: 1px dashed $med_gry;
                                // }
                            }

                        }
                    }
                }
            }
        }

        table {
            border-collapse: collapse;
        }

        .content-wrapper {
            margin: $slug_05 0;
        }

        .main-records-grid {
            table {
                line-height: $main_font_dbl_line_height;
                width: 100%;

                tr {
                    border-bottom: 1px dashed $med_gry;

                    &.odd-row {
                        background-color: $lgt_gry;
                    }
                }

                th {
                    text-align: left;
                }

                th,
                td {
                    // border-right: 1px dashed $med_lgt_gry;
                    cursor: default;
                    padding-left: 10px;

                    // &:last-of-type {
                    //     border-right: 0;
                    // }
                }

                .investment {
                    a {
                        color: $blue;
                    }
                }
            }
        }

        footer {
            height: $slug_2;
            line-height: $slug_2;
            padding-bottom: $slug;
        }




    }
}
