// COLORS
$wht: #ffffff;
$lgt_gry: #f5f5f5;
$med_gry: #a0a0a0;
$drk_gry: #202020;

// SIZES
$cont_wide: 900px;
$slug: 30px;
$slug_half: 15px;

// TYPOGRAPHY
// $main_font: "Lucida Console", monospace;
$main_font: "Arial", sans-serif;
$main_font_size: 15px;
$main_font_line_height: 30px;
$main_font_dbl_line_height: 60px;
$header_font: "Arial Black", sans-serif;


html {
    height: 100%;
}

body {
    background-color: $lgt_gry;
    color: $drk_gry;
    font-family: $main_font;
    font-size: $main_font_size;
    font-weight: normal;
    height: 100%;
    line-height: $main_font_line_height;

    .container {
        background-color: $wht;
        border-left: 1px dashed $med_gry;
        border-right: 1px dashed $med_gry;
        height: auto;
        margin: 0 auto;
        padding: 0 $slug;
        width: $cont_wide;

        a {
            // border-bottom: 1px dashed $med_gry;
            color: $drk_gry;
            text-decoration: none;
        }

        h1, h2, h3, h4 {
            margin: 0;
        }

        h1, h2, h3, h4,
        th,
        label,
        .investment {
            font-family: $header_font;
        }

        table {
            border-collapse: collapse;
            line-height: $main_font_dbl_line_height;
        }

        .main-records-grid {
            table {
                width: 100%;

                .index {
                    padding-left: $slug_half;
                }

                tr {
                    border-bottom: 1px dashed $med_gry;

                    &.odd-row {
                        background-color: $lgt_gry;
                    }
                }

                th {
                    text-align: left;
                }




            }
        }




    }
}
