html {
  height: 100%;
}

body {
  background-color: #f5f5f5;
  color: #202020;
  font-family: "Arial", sans-serif;
  font-size: 15px;
  font-weight: normal;
  height: 100%;
  line-height: 30px;
}
body .container {
  background-color: #ffffff;
  border-left: 1px dashed #a0a0a0;
  border-right: 1px dashed #a0a0a0;
  margin: 0 auto;
  padding: 0 30px;
  width: 900px;
}
body .container a {
  color: #0066cc;
  text-decoration: none;
  transition: opacity 0.5s;
}
body .container a:hover {
  opacity: 0.5;
}
body .container h1, body .container h2, body .container h3, body .container h4 {
  margin: 0;
}
body .container h1, body .container h2, body .container h3, body .container h4,
body .container th,
body .container label,
body .container .investment {
  font-family: "Arial Black", sans-serif;
}
body .container .has-loss {
  color: #cc0000;
}
body .container .has-gain {
  color: #4c9900;
}
body .container button,
body .container select,
body .container input[type=submit] {
  background-color: #0066cc;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  height: 30px;
  width: 120px;
}
body .container button.danger,
body .container select.danger,
body .container input[type=submit].danger {
  background-color: #cc0000;
}
body .container button.warning,
body .container select.warning,
body .container input[type=submit].warning {
  background-color: #ffcc00;
}
body .container button.success,
body .container select.success,
body .container input[type=submit].success {
  background-color: #4c9900;
}
body .container button,
body .container select {
  padding: 0 5px;
}
body .container header {
  text-align: center;
}
body .container header .title-wrapper {
  height: 60px;
  line-height: 60px;
}
body .container header .nav-wrapper {
  border-bottom: 1px solid #a0a0a0;
}
body .container header .nav-wrapper nav ul {
  list-style-type: none;
}
body .container header .nav-wrapper nav ul li {
  display: inline-block;
  font-weight: bold;
  padding: 0 15px;
}
body .container header .nav-wrapper nav ul li a {
  padding: 4px 6px 5px 4px;
  color: #0066cc;
}
body .container table {
  border-collapse: collapse;
}
body .container .content-wrapper {
  margin: 15px 0;
}
body .container .main-records-grid table,
body .container .details-record-grid table,
body .container .report-record-grid table {
  line-height: 60px;
  width: 100%;
}
body .container .main-records-grid table tr,
body .container .details-record-grid table tr,
body .container .report-record-grid table tr {
  border-bottom: 1px dashed #a0a0a0;
}
body .container .main-records-grid table tr.odd-row,
body .container .details-record-grid table tr.odd-row,
body .container .report-record-grid table tr.odd-row {
  background-color: #f5f5f5;
}
body .container .main-records-grid table tr.no-border,
body .container .details-record-grid table tr.no-border,
body .container .report-record-grid table tr.no-border {
  border-bottom: 0;
}
body .container .main-records-grid table th,
body .container .details-record-grid table th,
body .container .report-record-grid table th {
  text-align: left;
}
body .container .main-records-grid table th,
body .container .main-records-grid table td,
body .container .details-record-grid table th,
body .container .details-record-grid table td,
body .container .report-record-grid table th,
body .container .report-record-grid table td {
  cursor: default;
  padding-left: 10px;
}
body .container .main-records-grid table th img,
body .container .main-records-grid table td img,
body .container .details-record-grid table th img,
body .container .details-record-grid table td img,
body .container .report-record-grid table th img,
body .container .report-record-grid table td img {
  width: 100%;
}
body .container .main-records-grid table th.img-cell,
body .container .main-records-grid table td.img-cell,
body .container .details-record-grid table th.img-cell,
body .container .details-record-grid table td.img-cell,
body .container .report-record-grid table th.img-cell,
body .container .report-record-grid table td.img-cell {
  padding-left: 0;
}
body .container .main-records-grid table .investment a,
body .container .details-record-grid table .investment a,
body .container .report-record-grid table .investment a {
  color: #0066cc;
}
body .container .details-record-grid {
  margin: 30px 0 0 0;
}
body .container .details-record-grid table {
  line-height: 30px;
}
body .container .details-record-grid table th, body .container .details-record-grid table td {
  width: 33%;
}
body .container .report-record-grid table {
  line-height: 30px;
}
body .container .report-record-grid td {
  width: 25%;
}
body .container .report-record-grid td:last-of-type {
  width: auto;
}
body .container .report-data {
  color: #a0a0a0;
  font-family: "Monaco", monospace;
  font-size: 10px;
  line-height: 12px;
}
body .container footer {
  height: 60px;
  line-height: 60px;
  padding-bottom: 30px;
}
body .container form {
  margin: 30px 0 0 0;
}
body .container form div {
  line-height: 30px;
  margin: 4px 0;
  width: 100%;
}
body .container form div label {
  display: inline-block;
  vertical-align: top;
  width: 120px;
}
body .container form div input,
body .container form div textarea {
  display: inline-block;
  height: 30px;
  padding: 0;
  width: 30%;
}
body .container form div input[type=checkbox] {
  width: auto;
}
body .container form div textarea {
  height: 120px;
}
body .container form div .auto-width {
  width: auto;
}
body .center-text {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
