{% extends "base.html" %}

{% block title %}Account Details{% endblock %}

{% block content %}
    <h2>Account Details</h2>

    <form method="POST">
        <div>
            <label>Account Value:</label>
            $<input type="number" name="account_value">.00
        </div>

        <div>
            <label>Maximum Risk/Trade:</label>
            <input type="number" name="max_risk_trade">%
        </div>

        <div>
            <input type="submit" name="submit" value="update">
        </div>
    </form>
{% endblock %}
