{% extends "base.html" %}

{% block title %}Add a Record{% endblock %}

{% block content %}
    <h2>New Record</h2>

    <form method="POST">
        <div>
            <label>Investment</label>
            <input type="text" name="investment">
        </div>

        <div>
            <label>Entry Date</label>
            <input type="date" name="entry_date">
        </div>

        <div>
            <label>Shares</label>
            <input type="number" name="shares">
        </div>

        <div>
            <label>Entry</label>
            <input type="number" name="entry_price">
        </div>

        <div>
            <label>Stop</label>
            <input type="number" name="stop_price">
        </div>

        <div>
            <label>Target</label>
            <input type="number" name="target">
        </div>

        <div>
            <input type="submit" name="submit" value="create record">
        </div>
    </form>
{% endblock %}


