{% extends "base.html" %}

{% block title %}Add a Record{% endblock %}

{% block content %}

<h2>New Record</h2>

<form method="POST" action="/review">
    <div>
        <label>Investment</label>
        <input
            required
            type="text"
            name="investment">
    </div>

    <div>
        <label>Entry Date</label>
        <input
            required
            type="date"
            name="entry_date">
    </div>

    <div>
        <label>Shares</label>
        <input
            required
            type="number"
            name="shares">
    </div>

    <div>
        <label>Entry</label>
        <input
            required
            type="number"
            name="entry_price" min="0" step="0.01">
    </div>

    <div>
        <label>Stop</label>
        <input
            type="number"
            name="stop_price" min="0" step="0.01">
    </div>

    <div>
        <label>Target</label>
        <input
            type="number"
            name="target" min="0" step="0.01">
    </div>

    <div>
        <input type="submit" name="submit" value="review record">
    </div>
</form>

{% endblock %}


