{% extends "base.html" %}

{% block title %}Add a Record{% endblock %}

{% block content %}

<h2>New Record</h2>

<p>The record has been added.</p>

<ul>
    <li>Investment: {{ post_data['investment'] }}</li>
    <li>Entry Date: {{ post_data['entry_date'] }}</li>
    <li>Shares: {{ post_data['shares'] }}</li>
    <li>Entry: {{ post_data['entry_price'] }}</li>
    <li>Stop: {{ post_data['stop_price'] }}</li>
    <li>Target: {{ post_data['target'] }}</li>
    <li>Risk per Share: {{ post_data['risk_per_share'] }}</li>
</ul>

{% endblock %}


