{% extends "base.html" %}

{% block title %}Delete a Record{% endblock %}

{% block content %}
    <h2>Delete a Record</h2>

    <code>Post ID: {{ post_id }}</code>

    <form method="POST" action="/confirm-delete">
        <div>
            <input type="checkbox" name="delete_record"
                value="{{ post_id }}" required>
                Delete this record.
        </div>

        <div>
            <input type="submit" name="delete" value="delete">
        </div>
    </form>
{% endblock %}

{% block footer %}
    <button id="go_back">go back</button>
    <script>
        (function () {
            var go_back_btn = document.getElementById("go_back");
            go_back_btn.addEventListener('click', function() {
                window.location.assign("/post/{{ post_id }}");
            });
        }());
    </script>
{% endblock %}
