{% extends "base.html" %}

{% block title %}Edit Record{% endblock %}

{% block content %}
    <h2>Edit Record</h2>

    <code>Post ID: {{ post_id }}</code>

    <form method="POST" action="/review-edit/{{ post_id }}">
        <div>
            <label>Investment</label>
            <input type="text" name="investment"
                value="{{ data['investment'] }}">
        </div>

        <div>
            <label>Entry Date</label>
            <input type="date" name="entry_date"
                value="{{ data['date_entered'] }}">
        </div>

        <div>
            <label>Shares</label>
            <input type="number" name="shares"
                value="{{ data['shares'] }}">
        </div>

        <div>
            <label>Entry</label>
            <input type="number" name="entry_price" min="0" step="0.01"
                value="{{ data['entry'] }}">
        </div>

        <div>
            <label>Stop</label>
            <input type="number" name="stop_price" min="0" step="0.01"
                value="{{ data['stop'] }}">
        </div>

        <div>
            <label>Target</label>
            <input type="number" name="target" min="0" step="0.01"
                value="{{ data['target'] }}">
        </div>

        <div>
            <label>Exit</label>
            <input type="number" name="exit" min="0" step="0.01"
                value="{{ data['exit'] }}">
        </div>

        <div>
            <label>Exit Date</label>
            <input type="date" name="exit_date"
                value="{{ data['exit_date'] }}">
        </div>

        <div>
            <label>Notes</label>
            <textarea name="notes">{{ data['notes'] }}</textarea>
        </div>

        <div>
            <label>Chart URL</label>
            <input type="text" name="chart_url"
                value="{{ data['chart_url'] }}">
        </div>

        <!-- hidden fields -->
        <input type="hidden" name="risk_share" value="{{ data['risk_share'] }}">

        <div>
            <input type="submit" name="submit" value="review updates">
        </div>
    </form>

    <button id="go_back">go back</button>
    <script>
        (function () {
            var go_back_btn = document.getElementById("go_back");
            go_back_btn.addEventListener('click', function(e) {
                window.location.assign("/post/{{ post_id }}");
            });
        }());
    </script>
{% endblock %}
