{% extends "base.html" %}

{% block title %}Export{% endblock %}

{% block content %}
    <h2>Export</h2>

<div class="report-data">
    <code>Investment, Entry Date, Shares, Entry, Stop, Target, Risk/Share, Exit,
        Exit Date, PnL<br>
    {% for r in data %}
        {{ r['investment'] }}, {{ r['date_entered'] }}, {{ r['shares'] }},
            {{ r['entry'] }}, {{ r['stop'] }}, {{ r['target'] }}, {{ r['risk_share'] }},
            {{ r['exit'] }}, {{ r['exit_date'] }}, {{ r['pnl'] }}<br>
    {% endfor %}
    </code>
</div>

{% endblock %}
