{% extends "base.html" %}

{% block title %}Main{% endblock %}

{% block content %}
    <h2>Main</h2>

    <h3>Account Details</h3>

    <div class="account-details">
        <table>
            <tr>
                <td>Acccount Value</td>
                <td>%DATA%</td>
            </tr>
            <tr>
                <td>Maximum Risk/Trade</td>
                <td>%DATA%</td>
            </tr>
        </table>
    </div>

    <h3>Log</h3>

    <div class="main-records-grid">
        <table>
            <thead>
                <tr>
                    <th>Investment</th>
                    <th>Entry Date</th>
                    <th>Shares</th>
                    <th>Entry</th>
                    <th>Stop</th>
                    <th>Target</th>
                    <th>Risk/Share</th>
                    <th>Exit</th>
                    <th>Exit Date</th>
                    <th>PnL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="/post/1">%DATA%</a></td>
                    <td>%DATA%</td>
                    <td>%DATA%</td>
                    <td>%DATA%</td>
                    <td>%DATA%</td>
                    <td>%DATA%</td>
                    <td>%DATA%</td>
                    <td>%DATA%</td>
                    <td>%DATA%</td>
                    <td>%DATA%</td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}

{% block footer %}
    <ul>
        <li>previous</li>
        <li>page x of x</li>
        <li>next</li>
    </ul>
{% endblock %}
