{% extends "base.html" %}

{% block title %}Main{% endblock %}

{% block content %}
    <h2>Main</h2>

    <div class="main-records-grid">
        <table>
            <thead>
                <tr>
                    <th>Investment</th>
                    <th>Entry Date</th>
                    <th>Shares</th>
                    <th>Entry</th>
                    <th>Stop</th>
                    <th>Target</th>
                    <th>Risk/Share</th>
                    <th>Exit</th>
                    <th>Exit Date</th>
                    <th>PnL</th>
                </tr>
            </thead>
            <tbody>
            {% for r in data %}
                <tr>
                    <td><a href="/post/{{ r['id'] }}">{{ r['investment'] }}</a></td>
                    <td>{{ r['date_entered'] }}</td>
                    <td>{{ r['shares'] }}</td>
                    <td>{{ r['entry'] }}</td>
                    <td>{{ r['stop'] }}</td>
                    <td>{{ r['target'] }}</td>
                    <td>{{ r['risk_share'] }}</td>
                    <td>{% if r['exit'] == None %} &ndash; {% else %}
                        {{ r['exit'] }} {% endif %}</td>
                    <td>{% if r['sell_date'] == None %} &ndash; {% else %}
                        {{ r['sell_date'] }} {% endif %}</td>
                    <td>{% if r['pnl'] == None %} &ndash; {% else %}
                        {{ r['pnl'] }} {% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block footer %}
    <form method="GET" action="/">
        <select name="orderby">
            <option value="-">Order By</option>
            <option value="investment">Investment</option>
            <option value="entry_date">Entry Date</option>
            <option value="shares">Shares</option>
            <option value="entry">Entry</option>
            <option value="stop">Stop</option>
            <option value="target">Target</option>
            <option value="risk_share">Risk/Share</option>
            <option value="exit">Exit</option>
            <option value="exit_date">Exit Date</option>
            <option value="pnl">PnL</option>
        </select>

        <select name="order">
            <option value="-">Order</option>
            <option value="asc">ASC</option>
            <option value="desc">DESC</option>
        </select>

        <input type="submit" name="submit" value="update">
    </form>

{% endblock %}
