{% extends "base.html" %}

{% block title %}Summary{% endblock %}

{% block content %}
    <h2>Summary</h2>

    <div class="main-records-grid">
        <table>
            <thead>
                <tr>
                    <th class="index">#</th>
                    <th>Investment</th>
                    <th>Entry Date</th>
                    <th>Shares</th>
                    <th>Entry</th>
                    <th>Stop</th>
                    <th>Target</th>
                    <th>Exit</th>
                    <th>Exit Date</th>
                </tr>
            </thead>
            <tbody>
            {% for r in data %}
                {% if loop.index % 2 == 0 %}
                <tr>
                {% else %}
                <tr class="odd-row">
                {% endif %}
                    <td>{{ loop.index }}</td>
                    <td class="investment" title="Symbol">
                        <a href="/post/{{ r['id'] }}">{{ r['investment'] }}</a>
                    </td>
                    <td title="Entry Date">{{ r['date_entered'] }}</td>
                    <td title="Shares"> {{ r['shares'] }}</td>
                    <td title="Entry Price">{{ r['entry'] }}</td>
                    <td title="Stop Price">{{ r['stop'] }}</td>
                    <td title="Target Price">{{ r['target'] }}</td>
                    <td title="Exit Price">{% if r['exit'] == None %}
                            &ndash;
                        {% else %}
                            {{ r['exit'] }}
                        {% endif %}</td>
                    <td title="Exit Date">{% if r['exit_date'] == None %}
                            &ndash;
                        {% else %}
                            {{ r['exit_date'] }}
                        {% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block footer %}
    <form method="POST" action="/">
        <label>Order by</label>
        <select name="orderby">
            {% for key, val in opts_order_by.items() %}
            <option value="{{ val }}"
                {% if get_options['orderby'] == val %}
                selected
                {% endif %}>{{ key }}
            </option>
            {% endfor %}
        </select>

        <select name="order">
            {% for key, val in opts_order.items() %}
            <option value="{{ val }}"
                {% if get_options['order'] == val %}
                selected
                {% endif %}>{{ key }}
            </option>
            {% endfor %}
        </select>

        <input type="submit" name="submit" value="Update">
    </form>

{% endblock %}
