{% extends "base.html" %}

{% block title %}Record Details{% endblock %}

{% block content %}
    <h2>{{ data['investment'] }} Details</h2>

    <div class="details-record-grid">
        <table>
            <tr>
                <th>Investment</th>
                <td colspan="2">{{ data['investment'] }}</td>
            </tr>
                <th>Entry Date</th>
                <td colspan="2">{{ data['date_entered'] }}</td>
            <tr>
                <th>Shares</th>
                <td colspan="2">{{ data['shares'] }}</td>
            </tr>
                <th>Entry</th>
                <td colspan="2">{{ data['entry'] }}</td>
            <tr>
                <th>Stop</th>
                <td colspan="2">{{ data['stop'] }}</td>
            </tr>
                <th>Target</th>
                <td colspan="2">{{ data['target'] }}</td>
            <tr>
                <th>Risk/Share</th>
                <td colspan="2">{{ risk_data['risk_share'] }}</td>
            </tr>
                <th>Exit</th>
                <td colspan="2">{{ data['exit'] }}</td>
            <tr>
                <th>Exit Date</th>
                <td colspan="2">{{ data['exit_date'] }}</td>
            <tr>
                <th>PnL</th>
                <td colspan="2">{{ pnl }}</td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr class="odd-row">
                <td colspan="3"><h3>Risk Assessment</h3></td>
            </tr>

            <tr>
                <th>Entry Price</th>
                <td colspan="2">{{ risk_data['entry'] }}</td>
            </tr>
            <tr>
                <th>Stop</th>
                <td colspan="2">{{ risk_data['stop'] }}</td>
            </tr>
            <tr>
                <th>Risk/Share</th>
                <td colspan="2">{{ risk_data['risk_share'] }}</td>
            </tr>
            <tr>
                <th>Overall Risk <small><em>(2.5 - 7%)</em></small></th>
                <td colspan="2">{{ risk_data['overall_risk'] }}%</td>
            </tr>
            <tr>
                <th>Shares Bought</th>
                <td colspan="2">{{ risk_data['actual_shares'] }}</td>
            </tr>
            <tr>
                <th>Total Investment Amount</th>
                <td colspan="2">{{ risk_data['investment_total'] }}</td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr class="odd-row">
                <td colspan="3"><h3>Potential Profits</h3></td>
            </tr>
            <tr>
                <th>Profit Level</th>
                <th>Price</th>
                <th>PnL</th>
            </tr>
            <tr>
                <th>1R</th>
                <td>{{ profit_data['1r']['price'] }}</td>
                <td>{{ profit_data['1r']['pnl'] }}</td>
            </tr>
            <tr>
                <th>2R</th>
                <td>{{ profit_data['2r']['price'] }}</td>
                <td>{{ profit_data['2r']['pnl'] }}</td>
            </tr>
            <tr>
                <th>3R</th>
                <td>{{ profit_data['3r']['price'] }}</td>
                <td>{{ profit_data['3r']['pnl'] }}</td>
            </tr>
            <tr>
                <th>4R</th>
                <td>{{ profit_data['4r']['price'] }}</td>
                <td>{{ profit_data['4r']['pnl'] }}</td>
            </tr>
            <tr>
                <th>5R</th>
                <td>{{ profit_data['5r']['price'] }}</td>
                <td>{{ profit_data['5r']['pnl'] }}</td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr class="odd-row">
                <td colspan="3"><h3>Notes</h3></td>
            </tr>
            <tr>
                <td colspan="2">{{ data['notes'] }}</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr class="odd-row no-border">
                <td colspan="3"><h3>Chart</h3></td>
            </tr>
            <tr class="no-border">
                <td colspan="3" class="img-cell">
                    {% if has_chart %}
                        <img src="{{ url_for('static', filename=data['chart_url']) }}"
                            alt="{{ data['chart_url'] }}">
                    {% else %}
                        None
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block footer %}
    <button id="edit_a_record">edit this record</button>
    <button id="delete_a_record" class="danger">delete this record</button>

    <script>
        (function () {
            var edit_btn = document.getElementById("edit_a_record");
            var delete_btn = document.getElementById("delete_a_record");

            edit_btn.addEventListener('click', function() {
                window.location.assign("/edit/{{ post_id }}");
            });

            delete_btn.addEventListener('click', function() {
                window.location.assign("/delete/{{ post_id }}");
            });
        }());

    </script>
{% endblock %}
