{% extends "base.html" %}

{% block title %}Record Detail{% endblock %}

{% block content %}
    <h2>Record Detail</h2>

    <div class="details-record-grid">
        <table>
            <tr>
                <td>Investment</td>
                <td>{{ data['investment'] }}</td>
            </tr>
                <td>Entry Date</td>
                <td>{{ data['date_entered'] }}</td>
            </tr>
                <td>Shares</td>
                <td>{{ data['shares'] }}</td>
            </tr>
                <td>Entry</td>
                <td>{{ data['entry'] }}</td>
            </tr>
                <td>Stop</td>
                <td>{{ data['stop'] }}</td>
            </tr>
                <td>Target</td>
                <td>{{ data['target'] }}</td>
            </tr>
                <td>Risk/Share</td>
                <td>{{ data['risk_share'] }}</td>
            </tr>
                <td>Exit</td>
                <td>{% if data['exit'] == None %} &ndash; {% else %}
                        ${{ data['exit'] }} {% endif %}</td>
            </tr>
                <td>Exit Date</td>
                <td>{% if data['sell_date'] == None %} &ndash; {% else %}
                        {{ data['sell_date'] }} {% endif %}</td>
            </tr>
                <td>PnL</td>
                <td>{% if data['pnl'] == None %} &ndash; {% else %}
                        ${{ data['pnl'] }} {% endif %}</td>
            </tr>
            </tr>
                <td>Notes</td>
                <td>{% if data['notes'] == None %} &ndash; {% else %}
                        ${{ data['notes'] }} {% endif %}</td>
            </tr>
            </tr>
                <td>Chart</td>
                <td>{% if data['chart_url'] == None %} &ndash; {% else %}
                        ${{ data['chart_url'] }} {% endif %}</td>
            </tr>
        </table>
    </div>

    <div class="risk-profits-grid">
        <h2>Risk Assessment</h2>

        <table>
            <tr>
                <td>Total Account Value (cash)</td>
                <td>&nbsp;</td>
                <td>{{ risk_data['account_value'] }}</td>
            </tr>
            <tr>
                <td>Amount to risk on each trade</td>
                <td><em>{{ risk_data['risk_per_trade'] * 100 }}%</em></td>
                <td>{{ risk_data['risk_per_trade_amt'] }}</td>
            </tr>
            <tr>
                <td>Entry Price</td>
                <td>&nbsp;</td>
                <td>{{ risk_data['entry'] }}</td>
            </tr>
            <tr>
                <td>Stop</td>
                <td>&nbsp;</td>
                <td>{{ risk_data['stop'] }}</td>
            </tr>
            <tr>
                <td>Risk/Share</td>
                <td>&nbsp;</td>
                <td>{{ risk_data['risk_share'] }}</td>
            </tr>
            <tr>
                <td>Overall Risk</td>
                <td><em>2.5 - 7%</em></td>
                <td>{{ risk_data['overall_risk'] * 100 }}%</td>
            </tr>
            <tr>
                <td>MAX Shares to Buy</td>
                <td>&nbsp;</td>
                <td>{{ risk_data['max_shares'] }}</td>
            </tr>
            <tr>
                <td>Actual Shares Bought</td>
                <td>&nbsp;</td>
                <td>{{ risk_data['actual_shares'] }}</td>
            </tr>
            <tr>
                <td>Total Investment Amount</td>
                <td>&nbsp;</td>
                <td>{{ risk_data['investment_total'] }}</td>
            </tr>
        </table>
    </div>

    <div class="risk-profits-grid">
        <h2>Potential Profits</h2>

        <table>
            <tr>
                <td>Entry Price</td>
                <td>&nbsp;</td>
                <td>{{ risk_data['entry'] }}</td>
            </tr>
            <tr>
                <td>Shares</td>
                <td>&nbsp;</td>
                <td>{{ risk_data['actual_shares'] }}</td>
            </tr>
            <tr>
                <td>Risk (%)</td>
                <td>&nbsp;</td>
                <td>{{ risk_data['overall_risk'] * 100 }}%</td>
            </tr>
            <tr>
                <td>Profit Level</td>
                <td>PnL</td>
                <td>Price</td>
            </tr>
            <tr>
                <td>1R</td>
                <td>%DATA%</td>
                <td>%DATA%</td>
            </tr>
            <tr>
                <td>2R</td>
                <td>%DATA%</td>
                <td>%DATA%</td>
            </tr>
            <tr>
                <td>3R</td>
                <td>%DATA%</td>
                <td>%DATA%</td>
            </tr>
            <tr>
                <td>4R</td>
                <td>%DATA%</td>
                <td>%DATA%</td>
            </tr>
            <tr>
                <td>5R</td>
                <td>%DATA%</td>
                <td>%DATA%</td>
            </tr>
        </table>
    </div>

    <ul>
        <li>Post ID: {{ post_id }}</li>
    </ul>
{% endblock %}

{% block footer %}
    <ul>
        <li><a href="/edit/1">edit this record</a></li>
        <li><a href="/delete/1">delete this record</a></li>
    </ul>
{% endblock %}
