{% extends "base.html" %}

{% block title %}Record Detail{% endblock %}

{% block content %}
    <h2>Record Detail</h2>

    <div class="details-record-grid">
        <table>
            <tr>
                <td>Investment</td>
                <td>{{ data['investment'] }}</td>
            </tr>
                <td>Entry Date</td>
                <td>{{ data['date_entered'] }}</td>
            </tr>
                <td>Shares</td>
                <td>{{ data['shares'] }}</td>
            </tr>
                <td>Entry</td>
                <td>{{ data['entry'] }}</td>
            </tr>
                <td>Stop</td>
                <td>{{ data['stop'] }}</td>
            </tr>
                <td>Target</td>
                <td>{{ data['target'] }}</td>
            </tr>
                <td>Risk/Share</td>
                <td>{{ data['risk_share'] }}</td>
            </tr>
                <td>Exit</td>
                <td>{{ data['exit'] }}</td>
            </tr>
                <td>Exit Date</td>
                <td>{{ data['sell_date'] }}</td>
            </tr>
                <td>PnL</td>
                <td>{{ data['pnl'] }}</td>
            </tr>
            </tr>
                <td>Notes</td>
                <td>{{ data['notes'] }}</td>
            </tr>
            </tr>
                <td>Chart</td>
                <td>{{ data['chart_url'] }}</td>
            </tr>
        </table>
    </div>

    <div class="risk-profits-grid">
        <h2>Risk Assessment</h2>

        <table>
            <tr>
                <td>Total Account Value (cash)</td>
                <td>&nbsp;</td>
                <td>%DATA%</td>
            </tr>
            <tr>
                <td>Amount to risk on each trade</td>
                <td>%DATA%</td>
                <td>%DATA%</td>
            </tr>
            <tr>
                <td>Entry Price</td>
                <td>&nbsp;</td>
                <td>%DATA%</td>
            </tr>
            <tr>
                <td>Stop</td>
                <td>&nbsp;</td>
                <td>%DATA%</td>
            </tr>
            <tr>
                <td>Risk/Share</td>
                <td>&nbsp;</td>
                <td>%DATA%</td>
            </tr>
            <tr>
                <td>Overall Risk</td>
                <td>2.5 - 7%</td>
                <td>%DATA%</td>
            </tr>
            <tr>
                <td>MAX Shares to Buy</td>
                <td>&nbsp;</td>
                <td>%DATA%</td>
            </tr>
            <tr>
                <td>Actual Shares Bought</td>
                <td>&nbsp;</td>
                <td>%DATA%</td>
            </tr>
            <tr>
                <td>Total Investment Amount</td>
                <td>&nbsp;</td>
                <td>%DATA%</td>
            </tr>
        </table>
    </div>

    <div class="risk-profits-grid">
        <h2>Potential Profits</h2>

        <table>
            <tr>
                <td>Entry Price</td>
                <td>&nbsp;</td>
                <td>%DATA%</td>
            </tr>
            <tr>
                <td>Shares</td>
                <td>&nbsp;</td>
                <td>%DATA%</td>
            </tr>
            <tr>
                <td>Risk (%)</td>
                <td>&nbsp;</td>
                <td>%DATA%</td>
            </tr>
            <tr>
                <td>Profit Level</td>
                <td>PnL</td>
                <td>Price</td>
            </tr>
            <tr>
                <td>1R</td>
                <td>%DATA%</td>
                <td>%DATA%</td>
            </tr>
            <tr>
                <td>2R</td>
                <td>%DATA%</td>
                <td>%DATA%</td>
            </tr>
            <tr>
                <td>3R</td>
                <td>%DATA%</td>
                <td>%DATA%</td>
            </tr>
            <tr>
                <td>4R</td>
                <td>%DATA%</td>
                <td>%DATA%</td>
            </tr>
            <tr>
                <td>5R</td>
                <td>%DATA%</td>
                <td>%DATA%</td>
            </tr>
        </table>
    </div>

    <ul>
        <li>Post ID: {{ post_id }}</li>
    </ul>
{% endblock %}

{% block footer %}
    <ul>
        <li><a href="/edit/1">edit this record</a></li>
        <li><a href="/delete/1">delete this record</a></li>
    </ul>
{% endblock %}
