{% extends "base.html" %}

{% block title %}Summary Report{% endblock %}

{% block content %}
    <h2>Summary Report</h2>

    <div class="report-record-grid">
        <table>
            <tr class="odd-row">
                <th colspan="2"><h3>Frequency</h3></th>
            </tr>
            <tr>
                <td>Trade period</td>
                <td>%DATA%</td>
            </tr>
            <tr>
                <td>Total trades</td>
                <td>%DATA%</td>
            </tr>
            <tr>
                <td>Avg. trades/month</td>
                <td>%DATA%</td>
            </tr>
            <tr>
                <td>Avg. trades/week</td>
                <td>%DATA%</td>
            </tr>
            <tr>
                <td>Avg. trade duration</td>
                <td>%DATA%</td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr class="odd-row">
                <th colspan="2"><h3>Profit and Loss</h3></th>
            </tr>
            <tr>
                <td>Total profits</td>
                <td>%DATA%</td>
            </tr>
            <tr>
                <td>Total losses</td>
                <td>%DATA%</td>
            </tr>
            <tr>
                <td>PnL</td>
                <td>%DATA%</td>
            </tr>
            <tr>
                <td>Avg. monthly profits</td>
                <td>%DATA%</td>
            </tr>
            <tr>
                <td>Avg. monthly losses</td>
                <td>%DATA%</td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr class="odd-row">
                <th colspan="2"><h3>Patterns</h3></th>
            </tr>
            <tr>
                <td>Bought long</td>
                <td>%DATA%</td>
            </tr>
            <tr>
                <td>Sold short</td>
                <td>%DATA%</td>
            </tr>
            <tr>
                <td>Avg. entry price</td>
                <td>%DATA%</td>
            </tr>
            <tr>
                <td>Avg. risk/share</td>
                <td>%DATA%</td>
            </tr>
            <tr>
                <td>Avg. ROI</td>
                <td>%DATA%</td>
            </tr>
            <tr>
                <td>Most traded</td>
                <td>%DATA%</td>
            </tr>
        </table>
    </div>

{% endblock %}
