{% extends "base.html" %}

{% block title %}Summary Report{% endblock %}

{% block content %}
    <h2>Summary Report</h2>

    <div class="report-record-grid">
        <table>
            <tr class="odd-row">
                <th colspan="2"><h3>Frequency</h3></th>
            </tr>
            <tr>
                <td>Trade period <em>(months)</em></td>
                <td>{{ metrics['trading period'] }}</td>
            </tr>
            <tr>
                <td>Total trades</td>
                <td>{{ metrics['total number of trades'] }}</td>
            </tr>
            <tr>
                <td>Avg. trades/month</td>
                <td>{{ metrics['avg trades per month'] }}</td>
            </tr>
            <tr>
                <td>Avg. trades/week</td>
                <td>{{ metrics['avg trades per week'] }}</td>
            </tr>
            <tr>
                <td>Avg. trade duration <em>(days)</em></td>
                <td>{{ metrics['avg trade length'] }}</td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr class="odd-row">
                <th colspan="2"><h3>Profit and Loss</h3></th>
            </tr>
            <tr>
                <td>Total profits</td>
                <td>{{ metrics['total profits'] }}</td>
            </tr>
            <tr>
                <td>Total losses</td>
                <td>{{ metrics['total losses'] }}</td>
            </tr>
            <tr>
                <td>PnL</td>
                <td>{{ metrics['final pnl'] }}</td>
            </tr>
            <tr>
                <td>Avg. monthly profits</td>
                <td>{{ metrics['avg monthly profits'] }}</td>
            </tr>
            <tr>
                <td>Avg. monthly losses</td>
                <td>{{ metrics['avg monthly losses'] }}</td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr class="odd-row">
                <th colspan="2"><h3>Patterns</h3></th>
            </tr>
            <tr>
                <td>Bought long</td>
                <td>{{ metrics['long trades'] }}</td>
            </tr>
            <tr>
                <td>Sold short</td>
                <td>{{ metrics['short trades'] }}</td>
            </tr>
            <tr>
                <td>Avg. entry price</td>
                <td>{{ metrics['avg entry price'] }}</td>
            </tr>
            <tr>
                <td>Avg. ROI</td>
                <td>{{ metrics['avg roi'] }}</td>
            </tr>
            <tr>
                <td>Most traded</td>
                <td>{{ metrics['most traded'] }}</td>
            </tr>
        </table>
    </div>

{% endblock %}
