{% extends "base.html" %}

{% block title %}Add a Record{% endblock %}

{% block content %}

<h2>New Record: submission review</h2>

{% if has_reviewed %}
<ul>
    <li>Investment: {{ post_data['investment'] }}</li>
    <li>Entry Date: {{ post_data['entry_date'] }}</li>
    <li>Shares: {{ post_data['shares'] }}</li>
    <li>Entry: {{ post_data['entry_price'] }}</li>
    <li>Stop: {{ post_data['stop_price'] }}</li>
    <li>Target: {{ post_data['target'] }}</li>
</ul>

<form method="POST" action="/confirm">
    <input type="hidden" name="investment" value="{{ post_data['investment'] }}">
    <input type="hidden" name="entry_date" value="{{ post_data['entry_date'] }}">
    <input type="hidden" name="shares" value="{{ post_data['shares'] }}">
    <input type="hidden" name="entry_price" value="{{ post_data['entry_price'] }}">
    <input type="hidden" name="stop_price" value="{{ post_data['stop_price'] }}">
    <input type="hidden" name="target" value="{{ post_data['target'] }}">

    <div>
        <input type="submit" name="submit" value="add record">
    </div>
</form>

{% else %}

<p><em>There are errors</em></p>

{% endif %}

{% endblock %}


